.main {
  /* display: flex;
  align-items: center; */
  background-color: #1F2451;
  height: 100vh;
  margin: 0;
}

.title {
  position: relative;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 1.5rem;

  width: 121px;
}

.text {
  position: relative;
  padding-left: 2rem;
  padding-top: 1rem;
}

.camera {
  /* position: relative;
  background: #DFFF9B;
  border-radius: 30px; */
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 3rem;
  padding-top: 4rem;
  /* margin-top: 50% */
}
