.title {
  position: absolute;
    width: 159px;
    height: 30px;
    left: 30px;
    top: 74px;
    padding-bottom: 40px;

    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 100%;
}